[[source]]

url = "http://mirrors.tencentyun.com/pypi/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
"flake8" = "*"
mysqlclient = "*"
"fabric3" = "*"
"autopep8" = "*"


[dev-packages]

"flake8" = "*"
selenium = "*"


[requires]

python_version = "3.6"
