<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>sasukekun</title>
    <style>
      .nav {
        list-style: none;
      }
      .footer {
      position: absolute;
      bottom: 0px;
      }
    </style>
  </head>
  <body>
    <div class="nav">
      <lu>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
        <li><a href=""></a></li>
      </lu>
    </div>
    <div class="content">
      <h1>This is sasukekun.</h1>
      <p>hello, sasukekun</p>
    </div>
    <div class="footer">
      <div class="copy">
        &copy;
        <span>2017-2017</span>
        sasukekun 版权所有
      </div>
    </div>
  </body>
</html>
